<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Prizes</title>
</head>
<body class="text-center">
<div>
    <a style="float: left" href="#" th:href="@{/index}" class="btn btn-primary btn-lg active btn-success" role="button"
       aria-pressed="true">Home</a>
    <h1 style="display: inline;margin-right: 80px">Prizes</h1>
</div>

<div class="card">
    <div class="card-header bg-info text-white">
        <h3>List</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
            </thead>
            <tr th:each="priz : ${prizes}">
                <td th:text="${priz.name}"></td>
                <td th:text="${priz.level.tag}"></td>
            </tr>
        </table>
    </div>
</div>
<br/>
<br/>
<form class="form-inline text-center" action="#" th:action="@{/handlePrizeAddition}" th:object="${prize}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label class="sr-only" for="inlineFormInputTag">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputTag" th:field="*{name}" placeholder="name"
           autofocus required>
    <select name="level" id="level" style="width: 100px">
        <!--        <p th:each="">-->
        <option th:each="lvl:${levels}" th:value="${lvl.id}" th:field="*{level}">
            <p th:text="${lvl.tag}"></p>
        </option>
        <!--        </p>-->
    </select>
    <button type="submit" class="btn btn-primary mb-2" style="margin: 10px">Add Prize</button>
</form>
</body>
</html>